
  <topo-login title="Cadastrar usuário"></topo-login>
  <ion-content>
  <form [formGroup]="loginForm" (submit)="createUser()">

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="nome" name="nome" type="email" placehoder="Nome" autfocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="snome" name="snome" type="text" placehoder="Sobrenome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input formControlName="email" name="email" type="email" placehoder="E-mail"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="password" name="password" type="password" placehoder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="confirm_pass" name="confirm_pass" type="confirm_pass" placehoder="Confirmar"></ion-input>
    </ion-item>

    <br/><br/>

    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
      </ion-col>
  </ion-row>
</ion-footer>