#logo-div {
    height: 50%;
    display: flex;
    align-items: center; //vertical
    justify-content: center;

    h3{
        text-align: center;
        transform: rotate(270deg);
        font-size: 30px;
    }

    img{
        width: 40%;
    }
}